name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Run tests with Docker Compose
      run: |
        docker-compose run test
        
    - name: Start API and test endpoints
      run: |
        docker-compose up -d api
        sleep 5  # Ждем запуска
        curl -f http://localhost:8000/ || exit 1
        docker-compose down