name: Python CI

on: [push]

jobs:
  test:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4


    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run tests
      run: |
        source venv/bin/activate
        pytest tests/ -v